[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/php-namespace"]
	path = vim/bundle/php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git
[submodule "vim/bundle/twig"]
	path = vim/bundle/twig
	url = https://github.com/beyondwords/vim-twig.git
[submodule "vim/bundle/symfony"]
	path = vim/bundle/symfony
	url = https://github.com/ludovicbarreca/vim-symfony.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/phpfolding"]
	path = vim/bundle/phpfolding
	url = https://github.com/vim-scripts/phpfolding.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/vim-scripts/ack.vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/behat"]
	path = vim/bundle/behat
	url = https://github.com/veloce/vim-behat.git
[submodule "vim/bundle/lusty"]
	path = vim/bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim/bundle/hexHighlight"]
	path = vim/bundle/hexHighlight
	url = https://github.com/yurifury/hexHighlight.git
[submodule "vim/bundle/Rename"]
	path = vim/bundle/Rename
	url = git://github.com/vim-scripts/Rename.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/phpspec"]
	path = vim/bundle/phpspec
	url = git://github.com/Herzult/phpspec-vim.git
[submodule "vim/bundle/markdown-folding"]
	path = vim/bundle/markdown-folding
	url = git://github.com/nelstrom/vim-markdown-folding.git
[submodule "vim/bundle/ragtag"]
	path = vim/bundle/ragtag
	url = git@github.com:tpope/vim-ragtag.git
[submodule "vim/bundle/vdebug"]
	path = vim/bundle/vdebug
	url = git://github.com/joonty/vdebug.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/HiLinkTrace"]
	path = vim/bundle/HiLinkTrace
	url = git@github.com:gerw/vim-HiLinkTrace.git
[submodule "vim/bundle/MatchTag"]
	path = vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
