<?php

namespace ${3:`substitute(substitute(expand("%:h"), '\v^\w+\/(\u)', '\1', ''), '\/', '\\\', 'g')`};

use Doctrine\ORM\Mapping as ORM;

/**
 * @ORM\Entity
 */
class ${2:`Filename('', 'myClass')`}
{
    /**
     * @ORM\Id
     * @ORM\GeneratedValue
     * @ORM\Column(type="integer")
     */
    protected $id;

	${1}
}
